html, body {
	height: 100%;
	min-width: 320px;
}

h1 {
	margin: 0;
	font-weight: 400;
}

h3 {
	margin-top: 5px;
	font-weight: 400; 
}

section {
	display: table-row;
  height: 100%;
}

.main_container {
	padding-top: 40px;
	padding-bottom: 50px;
}

.wrapper {
  display: table;
  width: 100%;
  height: 100%;
}

.head {
	border-bottom: 1px #cccccc solid;
	user-select: none;
	line-height: 100px;
	height: 100px;
}

.head_logo {
	padding: 0 3px;
	height: inherit;
	line-height: inherit;
	display: inline-block;
	cursor: pointer;
}

.head_logo:hover {
	opacity: 0.8;
}

.head_logo_image {
	width: 30px;
	margin-top: -10px;
}

.head_logo_text {
	display: inline-block;
	font-size: 24px;
	line-height: inherit;
}

.head_logout {
	display: inline-block;
	float: right;
	height: inherit;
	line-height: inherit;
	padding: 0 10px;
	margin-bottom: 0;
}

.head_logout_item {
	display: inline-block;
}

.foot {
	padding: 10px 0;
	background-color: #eee;
}

.foot_copyright {
	text-align: right;
	padding: 0 25px;
	font-size: 12px;
	color: #ccc;
}

.video {

}

.video_item {
	padding: 10px;
	user-select: none;
	height: 340px;
}

.video_item:hover, .video_item:hover .play_button, .video_item_box_video {
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.video_item:hover {
	padding: 5px;
	opacity: 0.8;
}

.video_item:hover .play_button {
	height: 55px;
}

.video_item:hover .video_item_box_video {
	height: 145px;
}

.video_title {
	height: 80px;
  line-height: 40px;

  background: #e0f5ff;
  padding: 20px;
  font-weight: 700;
  cursor: pointer;
}

.video_title_box {
	line-height: 20px;
	display: inline-block;

	overflow: hidden;
  text-overflow: ellipsis;
  
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.video_item_box {
	cursor: pointer;
	height: 100%;
}

.video_item_box_video {
	height: 140px;
	background-color: #ccc;
	background-size: cover;
	background-position: center;
	text-align: center;
	line-height: 140px;
}

.play_button {
	height: 50px;
	opacity: 0.7;
}

.video_item_box_ratings {
}

.video_item_box_desc {
	height: 80px;
	padding: 20px;

	overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.video_loading {
	display: block;
	clear: both;
	text-align: center;
	color: #ccc;
	padding-top: 40px;
}

.video_loading_icon {
	width: 20px;
}

/*watch video page*/
.singlevideo {
	padding-left: 5px !important;
}

.singlevideo_title {

}

.morevideo {
	padding: 0;
}

.video_watchmore {
	padding: 15px;
}

video {
	max-width: 100%;
	display: block;
	margin: 40px auto;
}

/*login page*/
.login_form {
	max-width: 500px;
}

.login_form_title {
	margin-bottom: 20px;
}

.login_form_label {
	x-margin-right: 20px;
}